<footer>
    <p>Weather Data provided by <a href="https://openweathermap.org/" target="_blank" class="data-attri">https://openweathermap.org/</a></p>
    <p>Copyright <i class="fa-solid fa-copyright"></i> M Simpson 2022</p>
    <p><a class="image-attri" href="https://www.pexels.com/photo/big-ben-bridge-castle-city-460672/" target="_blank">Photo by Pixabay</a> </p>
</footer>
</body>

</html>