<footer>
    <p>Weather Data provided by <a href="https://openweathermap.org/">https://openweathermap.org/</a></p>
    <p>Copyright <i class="fa-solid fa-copyright"></i> M Simpson 2022</p>
</footer>

</body>


</html>