<!DOCTYPE html>
<html>
<head>
    <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather App</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/4f7e5b3f05.js" crossorigin="anonymous"></script>
  </head>
  
  <body>

