<%- include("partials/header") -%> 
<header>
    <h1>WEATHER APP</h1>    
</header>

<main>
    <h3>Just Enter A Location Below To See The Current Weather</h3>
    <form action="/" method="post">

        <div class="form-group">
           <input type="text" name="location" id="location" class="form-control" autocomplete="off" placeholder="e.g. London">
        </div>


    </form>
</main>



<%- include("partials/footer") -%> 