<%- include("partials/header") -%>

    <header>
        <h1 class="title">Weather Search:</h1>
        <h3 class="prompt">Enter a Location</h3>
    </header>

    <main class="searchform">
        <form action="/" method="post" id="query">
            <div class="form-group">
                <input type="text" name="location" id="location" class="form-control" autocomplete="off"
                    placeholder="e.g. London">
            </div>
        </form>
        <button type="submit" form="query" value="Submit" class="btn btn-primary search-btn">Search</button>


    </main>

    <%- include("partials/footer") -%>