body {
  /* background-image: url("/assets/pexels-pixabay-460672.jpg"); */
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

/* #grid,
.current-main,
.container-row,
.weather-container,
.next-three-days,
footer {
  display: flex;
  flex-wrap: wrap;
} */

#current-display,
.place-name,
.main-info,
.current-additional,
.container-column,
.wind-speed,
.day {
  text-align: center;
}

.place-name {
  padding: 2.9375rem 0 0 0;
  font-size: 3rem;
}

.day {
  padding-top: 2rem;
}

.main-description {
  text-transform: capitalize;
}

.main-additional {
  padding: 0.25rem;
}

.later-today {
  margin-top: 2rem;
  display: flex;
  width: 100%;
}

.key {
  flex-basis: content;
  position: absolute;
  left: 200px;
} 

.container-row {
  justify-content: space-evenly;
  align-items: center;
}

.time-item {
  padding-top: 15px;
}

.weather-key {
  padding: 38px 0 30px;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.next-three-days {
  justify-content: space-between;
}

#day-3-display,
#day-4-display,
#day-5-display {
  max-width: 415px;
  padding: 0 1rem;
  /* border: blue 1px solid; */
  border-radius: 3.125rem;
  -webkit-border-radius: 3.125rem;
  -moz-border-radius: 3.125rem;
  -ms-border-radius: 3.125rem;
  -o-border-radius: 3.125rem;
}

.container-row h5 {
  padding-right: 1.25rem;
}

footer {
  flex-wrap: wrap-reverse;
  color: aliceblue;
  justify-content: flex-end;
  margin: 1rem auto;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer p {
  text-shadow: 0.5px 0.5px 1px black;
  display: inline;
  padding: 1rem;
}

.image-attri,
.data-attri {
  text-shadow: none;
}
