body {
  background-image: url("/assets/pexels-pixabay-460672.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

header,
.searchform {
  color: #151518;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 2px whitesmoke;
}

header {
  margin-top: 8rem;
}

.title {
  padding: 1.5rem;
  font-size: 2.25rem;
}


.error-message {
  font-size: 1.5rem;
  padding-bottom: 0.9375rem;
}

.prompt {
  font-size: 1.15rem;
  text-shadow: 0.5px 0.5px 1px whitesmoke;
}

input {
  text-align: center;
}

button {
  margin: 1rem;
}

.search-btn {
  text-shadow: none;
}

footer {
  display: flex;
  flex-wrap: wrap-reverse;
  color: aliceblue;
  justify-content: flex-end;
  margin: 12rem auto;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer p {
  text-shadow: 0.5px 0.5px 1px black;
  display: inline;
  padding: 1rem;
}

.image-attri,
.data-attri {
  text-shadow: none;
}

@media screen and (min-width: 1441px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  footer {
    justify-content: center;
    margin: 2rem auto;
  }

  footer p {
    padding: 0.5rem;
    margin: auto;
  }
}

@media screen and (max-width: 444px) {
  .openweather {
    max-width: 230px;
  }
}

@media screen and (max-width: 425px) {
  header {
    width: 75%;
  }
}
